body {
	margin:0px;
	padding:0px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	font-weight:normal;	
	background-image: url('../images/bg.png');
	}

.topmenulinks a {
	padding-right:10px;
	color:#000000;
	text-decoration:underline;
	font-size:12px;
}

<!--TOP NAVIGATION-->
.nav ul {
	margin:0px;
}
.nav li {
	display:block;
	float:left;
	height:40px;
	color:#666666;
}
.nav a {
	display:block;
	font-weight:bold;
	padding:13px 20px 12px 20px;
	color:#FFFFFF;
	text-decoration:none;
	font-size:12px;
	text-shadow: 0px 3px 2px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
}
.nav a:visited  {
	display:block;
	font-weight:bold;
	padding:13px 20px 12px 20px;
	color:#FFFFFF;
	text-decoration:none;
	font-size:12px;
	text-shadow: 0px 3px 2px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
}


.nav a:hover {
	color:#FFFFFF;
	background-image: url(../images/menu_bg_active.png);
	text-shadow: 0px 3px 2px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
}
.silver_bg_menu {
	background-image:url(../images/menu_bg.png);
}
<!--TOP NAVIGATION-->

<!--SUB NAVIGATION
.subnav ul {
	margin:0px;padding:0px;
}
.subnav li {
	display:block;
	float:left;
	height:37px;
	color:#666666;
}
.subnav a {
	display:block;
	font-weight:bold;
	padding:11px;
	color:#FFFFFF;
	text-decoration:none;
	font-size:12px;
}
.subnav a:visited  {
	display:block;
	font-weight:bold;
	padding:11px;
	color:#FFFFFF;
	text-decoration:none;
	font-size:12px;
}


.subnav a:hover {
	color:#FFFFFF;
	background-color:#e10404;
}

.subnavbg {
background-color:#bb0505;
}

.red_font a {
	color:#bb0505;
	text-decoration:none;
}
.red_font a:hover {
	color:#bb0505;
	text-decoration:underline;
}
.f10 {
	font-size:10px;
}
.f11 {
	font-size:11px;
}
.f12 {
	font-size:12px;
}
.f16 {
	font-size:16px;
}
.big {
	font-weight:bold;
}
.bottom_menulinks a {
	padding:2px 30px 2px 0px;
	color:#FFFFFF;
	text-decoration:none;
	font-size:11px;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}
.listing_text_link a {
	font-size:14px;
	font-weight:bold;
	color:#bb0505;
	text-decoration:none;
}
.listing_text_link a:hover {
	font-size:14px;
	font-weight:bold;
	color:#e21f1f;
	text-decoration:none;
}
.listing_link_product a {
	font-size:11px;
	color:#666666;
	text-decoration:none;
}
.listing_link_product div {
	text-align:center;
	padding:5px;
	height:50px;
}
.listing_link_product a:hover {
	font-size:11px;
	color:#e21f1f;
	text-decoration:none;
}
.listing_product_price {
	font-size:16px;
	padding:0px 0px 5px 0px;
	font-weight:bold;
	color:#000000;
	text-decoration:none;
	text-align:center;
}
.listing_product_image div {
	text-align:center;
	padding:10px;
}
.listing_product_brand {
	text-align:center;
	padding:5px 0px;
	color:000000;
	font-weight:bold;
}
.page_browsing {
	font-size:16px;
}
.page_browsing a {
	color:#000;
	text-decoration:underline;
}
.odd_bg {
	background-color:#f2f2f2;
}
.product_title {
	border:solid;
	border-width:0px 0px 1px 0px;
	border-color:#000;
}
<!--TOP NAVIGATION-->
img.enlarge {
    border-width: 0;
    display: inline;
    margin: -20px 0px 2px -19px;
}
img.linkable {
    cursor: pointer;
}
#nobulletlist ul li {

  list-style-type:none;
  padding:1px 0px;
}
.section_subtitle_underline {
	padding:0px 0px 5px 10px;
	text-align:left;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #c7c7c7;
}
.services_nav ul li {

  list-style-type:none;
  font-size:12px;
  padding:5px 0px;
}
.services_nav ul li a {

  color:#000;
  font-weight:bold;
}
.nobullet ul li {

  list-style-type:none;
}
.bullet ul li ul li {

  list-style-type:disc;
}
ul.tabs li {float:left;list-style: none;}
ul.tabs li a {
	width:100px;
	padding:10px;
	background: #e0e0e0;
	color:#333;
	font-weight:bold;
	font-size:12px;
	text-decoration:none;
	margin-right:3px;
	}
ul.tabs li.active a  {color: #fff;text-decoration:none;background:#bb0505;}
.tab_container {
	border: 1px solid #DDDDDD;
	padding:20px;
	background-color:#F9F9F9;
}
.largebutton a {
	position: relative;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgba(187,5,5,1);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 2em;
    display: block;
    padding: 4px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 6px 0px rgba(117,2,2,1), 0px 6px 22px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 6px 0px rgba(117,2,2,1), 0px 6px 22px rgba(0,0,0,.7);
    box-shadow: 0px 6px 0px rgba(117,2,2,1), 0px 6px 22px rgba(0,0,0,.7);
	text-align: center;
	
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
}

.largebutton a:active {
    -webkit-box-shadow: 0px 3px 0px rgba(117,2,2,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(117,2,2,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(117,2,2,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}

.smallbutton a {
	position: relative;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgba(187,5,5,1);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    display: block;
    padding: 4px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 2px 0px rgba(117,2,2,1);
    -moz-box-shadow: 0px 2px 0px rgba(117,2,2,1);
    box-shadow: 0px 2px 0px rgba(117,2,2,1);
	text-align: center;
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
}

.smallbutton a:active {
    -webkit-box-shadow: 0px 3px 0px rgba(117,2,2,1);
    -moz-box-shadow: 0px 3px 0px rgba(117,2,2,1);
    box-shadow: 0px 3px 0px rgba(117,2,2,1));
    position: relative;
    top: 6px;
}
