<?xml version="1.0" encoding="UTF-8"?>

<web-app id="Loyalty" version="2.5" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
    http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

<display-name>Loyalty Source</display-name>
	
	<!-- Loyalty Context Listener -->
	<listener>
		<listener-class>com.loyauty.web.listener.application.LoyautyContextListener</listener-class>
	</listener>
	
	<!-- Tiles Conf -->
	<listener>
	  	<listener-class>org.apache.struts2.tiles.StrutsTilesListener</listener-class>
	</listener>	
	<context-param>
		<param-name>tilesDefinitions</param-name>
		<param-value>/WEB-INF/tiles.xml</param-value>
	</context-param>	
	
	<!-- Character Encoding Filter -->
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>com.loyauty.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- Locale Filter -->
	<filter>
		<filter-name>LocaleFilter</filter-name>
		<filter-class>com.loyauty.web.filter.LocaleFilter</filter-class>
		<init-param>
			<param-name>detectUserBrowser</param-name>
			<param-value>false</param-value>
		</init-param>
	</filter>
	<filter-mapping>
	<filter-name>LocaleFilter</filter-name>
		<url-pattern>*.do</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	
	<!-- Jsession Filter -->
	<filter>
		<filter-name>JsessionFilter</filter-name>
		<filter-class>com.loyauty.web.filter.JsessionFilter</filter-class>
		<init-param>
			<param-name>truncateJsession</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>JsessionFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- Struts Filter -->
	<filter>
		<filter-name>Struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>	
	<filter-mapping>
		<filter-name>Struts2</filter-name>
		<url-pattern>*.do</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	
	<filter>
		<filter-name>UrlRewriteFilter</filter-name>
		<filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
		<!-- sets up log level (will be logged to context log)
        can be: TRACE, DEBUG, INFO (default), WARN, ERROR, FATAL, log4j, commons, slf4j,
        sysout:{level} (ie, sysout:DEBUG)
        if you are having trouble using normal levels use sysout:DEBUG
        (default WARN) -->
        <init-param>
            <param-name>logLevel</param-name>
            <param-value>ERROR</param-value>
        </init-param>
        <!-- you can disable status page if desired
        can be: true, false (default true) -->
        <init-param>
            <param-name>statusEnabled</param-name>
            <param-value>false</param-value>
        </init-param>
	</filter>
	<filter-mapping>
		<filter-name>UrlRewriteFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>       
		<dispatcher>ERROR</dispatcher> 
	</filter-mapping>
	
	<!-- Welcome And Error Pages -->
	<welcome-file-list>
		<welcome-file>/WEB-INF/jsp/application/index.jsp</welcome-file>
	</welcome-file-list>

	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/WEB-INF/jsp/application/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/jsp/application/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/jsp/application/error.jsp</location>
	</error-page>
</web-app>
