<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
    "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
   
<mapper namespace="com.loyauty.dao.mybatis.mappers.OperationsMapper">
	
	<!-- Result maps -->  
	<resultMap type="Operations" id="operationsResultMap">
		<id property="id" column="id"/> 
	</resultMap>
  
	<!-- SELECT -->
	<select id="getOperationsByTypeAndObject" parameterType="java.util.Map" resultMap="operationsResultMap">
		SELECT	id AS id,
				operation_date AS operationDate,
			  	operation_type AS operationType,
			  	data_before AS dataBefore, 
			  	data_after AS dataAfter,
			  	(SELECT real_name FROM user_profile UP INNER JOIN user_account UA ON UP.user_id=UA.id WHERE OP.user_id=UP.user_id )AS realNameUser,
			  	object_id AS objectId 
		FROM 	operations OP WHERE OP.object_id=#{paramObjectId} AND OP.operation_type LIKE '%'||#{paramOperationType}	
		ORDER BY operation_date DESC
	</select>
	
	<!-- INSERT -->
	<insert id="insertOperation" parameterType="Operations"> 	
		INSERT INTO operations(operation_type,data_before,data_after,user_id,object_id)
		VALUES(#{operationType},#{dataBefore},#{dataAfter},#{userId},#{objectId})
	</insert>
	
	
	
	
		
	<!-- Inserts & Updates-->
	
	<!-- 
	
	<insert id="insertUserAccount" parameterType="User">
		<selectKey keyProperty="id" resultType="long" order="BEFORE">
      		select nextVal('user_account_id_seq')
    	</selectKey>    	
    	insert into user_account(id, login, type_id, password, email, last_login_date, active, code)
    	values (#{id}, #{login}, #{typeId}, #{password}, #{email},  #{lastLoginDate}, #{active}, #{code})
	</insert>
	
		

	<update id="updateUserAccount" parameterType="User">
		update user_account ua set password=#{password}, email=#{email}, type_id = #{typeId}, 
		 last_login_date=#{lastLoginDate}, active=#{active}, code = #{code}
		<include refid="whereId"/>
	</update>
	
	<delete id="deleteTemplate" parameterType="Long">
		BEGIN;
		SAVEPOINT sql_DELETE_TEMP;
		
		DELETE 
		FROM  user_profile
		WHERE user_profile.user_id =#{value};
	
		DELETE 
		FROM  shipping_total
		WHERE shipping_total.user_id =#{value};
		
		DELETE 
		FROM  user_product_price
		WHERE user_product_price.user_id = #{value};

		DELETE 
		FROM  alter_user_product_xml
		WHERE alter_user_product_xml.user_id = #{value};

		DELETE 
		FROM  user_province_population
		WHERE user_province_population.user_id = #{value};

		DELETE 
		FROM  user_account
		WHERE user_account.id =#{value};

		RELEASE SAVEPOINT sql_DELETE_TEMP;
		COMMIT;	
	</delete>
 	-->
</mapper>

